@model IEnumerable<LeThiChang070.Models.LTC070>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <labe>Mã số</labe>
            </th>
            <th>
                <labe>Họ và tên</labe>
            </th>
            <th>
                <label>Đúng hoặc sai</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LTCID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LTCName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LTCGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LTCID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LTCID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LTCID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
